@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom global styles */
body {
  @apply bg-lightBg text-darkText font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.btn-primary {
  @apply px-6 py-3 bg-gold text-black font-semibold rounded-lg flex items-center justify-center gap-2 hover:bg-yellow-500 transition;
}

.btn-secondary {
  @apply border-2 border-primary text-primary px-6 py-3 rounded-lg flex items-center justify-center gap-2 hover:bg-primary transition hover:text-white;
}

.animate-scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
  will-change: transform; /* ✅ Improves rendering performance */
}
button {
  @apply px-4 py-2 rounded-lg shadow-md;
}
.countdown div {
  padding: 10px;
  background-color: #007676;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
/* ✅ Change slick slider dots to gold */
.slick-dots li button:before {
  color: #FFD700 !important; /* Gold */
  font-size: 14px !important;
}

.slick-dots li.slick-active button:before {
  color: #d4af37 !important; /* Darker Gold */
  font-size: 16px !important;
}